<div id="footerSection">
    <div id="informationSection" class="section">
        <div id="logoSection">
            <picture style="height: inherit;">
                <source srcset="../../../assets/images/webp/banner-light.webp" type="image/webp">
                <source srcset="../../../assets/images/png/banner-light.png" type="image/png">
                <img alt="Engineering Rambulan" style="height: inherit;">
            </picture>
        </div>

        <div id="organisationSummary">
            <h2>About</h2>
            <p>Engineering Rambulan</p>
            <h2>Contact Us</h2>
            <p>
                <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
                facebook.com/groups/572673513456265/
            </p>
            <p>
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                engineeringrambulan@yahoo.com
            </p>
        </div>

    </div>
    <div id="linksSection" class="section">
        <div>
            <h2>Information</h2>
            <ul>
                <li>About</li>
                <li>Funding</li>
                <li>Donation</li>
                <li>Events</li>
            </ul>
        </div>
        <div>
            <h2>Helpful Links</h2>
            <ul>
                <li>Support</li>
                <li>Mission</li>
                <li>Vision</li>
                <li>Policy</li>
            </ul>
        </div>

    </div>
    <div id="subscribeSection" class="section">
        <h2>Subscribe</h2>
        <mat-form-field id="emailInput">
            <mat-label>Enter your Email</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button id="subscribeButton">Subscribe</button>
    </div>
    <mat-divider></mat-divider>

    <div id="socialMediaLinks">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        <fa-icon [icon]="['fab', 'google-plus']"></fa-icon>
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </div>

    <p id="allRightReserved">2020 © Engineering Rambulan. All Right reserved.</p>

</div>